{{!-- are these connections right? --}}

<div class="card">
    <h2 class="Title"> {{job_title}} </h2>
    <h2 class="business"> {{business_name}} </h2>

    <h3 class="location"> {{job_location}} </h3>

    <p class="description"> {{job_description}} </p>

    <h4 class="date"> {{date_created}} </h4>
    <h4 class="email"> {{email}} </h4>
    <h4 class="post-id"> {{id}} </h4>
    
</div>